/******************************************
/* CSS
/*******************************************/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
canvas {
  width: 100px;
  height: auto;
}




/******************************************
/* ADDITIONAL STYLES
/*******************************************/
